#header {
  background-image: url('/assets/card_bg.jpg');
  padding-bottom: 20px;
    
  position: relative;

  &::after {
    content: '';
    background-image: url('/assets/card_tear.png');
    background-repeat: no-repeat;
    background-size: 1280px 160px;
    background-position: top;
    position: absolute;
    bottom: -42px;
    left: 0px;
    right: 0px;
    height: 120px;
  }

  .header-topNav {
    position: absolute;
    width: 100%;
    z-index: 3;
    bottom: 10px;

    ul {
      list-style: none;
      display: block;
      margin: 0 auto;
      padding: 0.5em;
      text-align: center;
      li {
        display: inline-block;
        padding: 0;
        > a {
          padding: 0.5em 1em;
        }
      }
    }
  }
  .header-banner {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    height: 360px;

    font-size: 28px;

      background-image: url('/assets/kata_bw.png');
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 500px auto;

    .header-left {
      transform: rotate(-20deg);
      padding: 2em 1em;
      z-index: 1;
    }
    .header-right {
      transform: rotate(20deg);
      padding: 2em 1em;
      z-index: 1;
      text-align: right;
    }

  }
}